// Colors variables

:root {
  --primary: #3A3A3A;
  --secondary: #00365A;

  --white: #ffffff;
  --gray-light: #F8F8F8;
  --gray: #D3D3D3;
  --gray-dark: #605F5F;

  --danger: #F8244C;
  --danger-over: #ED0C36;
  --warning: #F27405;
  --warning-over: #F25A05;
  --success: #66A626;
  --success-over: #5A9A1A;

  --yellow: #FFC312;
  --black: black;
}
